body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

div {
	display: block;
}

.test {
	border: 1px #CCC solid;
	padding: 8px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	background-color: #EEE;
	cursor: pointer;
	margin-bottom: 10px;
}

.pass {
	color: #5cb85c;
}

.fail {
	color: #d9534f;
}