extends layout

block content
	h1 Welcome to Jexpress

	h3 An opinionated API that you can use, just by writing models.

	h4	Tests

	#users_exist
		.test.pending	Test if user table exists
		.result
		.tip
	hr

	#models