extends layout

block content
	h1 Welcome to Jexpress

	h3 An opinionated API that you can use, just by writing models.

	p
		strong Steps to running Jexpress
	ol
		li git clone git@github.com:j-norwood-young/jexpress.git
		li npm install
		li npm start

	p
		strong Creating a model

	p There are a few models to get you going. Most important is the user model, app/models/user_model.js.